body, th, tr, td, thead, b, p {
    font-family: sans-serif;
    font-size:11pt;
}

p {
    line-height: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    border:solid rgb(156, 216, 254) 1px;
    border-right: none;
    float: left;
    padding: 20px;
    position: relative;
    width: calc(100% - 215px);
}

h1, h2 {
    margin-bottom: -3px;
    font-family: Comic;
}

i {
    color:grey;
    margin-left: 30px;
}

th {
    background-color: rgb(221, 211, 255);
}

.header__up {
    width: 100%;
    height: 30px;
}

.header__up a {
    float: right;
}

.header__down {
    width: 100%;
    height: 40px;
}

.header__down a {
    float: right;
}

.aside__left {
    width: 130px;
    padding: 20px;
    float: left;
    line-height: 20px;
}

.main__article-description {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 20px;
    border:solid 1px gray;
    border-left: orange 10px solid;
    white-space: nowrap;
}

.main__right {
    background-color: white;
    width: 250px;
    height: auto;
    border: 1px solid black;
    float: right;
    padding: 5px;
    margin-top: 220px;
}

.container__contents-table {
    border: 1px black solid;
    width: 200px;
    height: auto;
    padding: 10px;
    font-family: sans-serif;
    font-size: 10pt;
    line-height: 22px;
}

.container__image {
    display: flex;
    padding: 5px;
    flex-direction: column;
    overflow: hidden;
    word-wrap: break-word;
    width: 220px; 
    border:solid 1px rgb(185, 185, 185);
    margin: 0 10px 0 10px;
    background-color: white;
}

.container__image--left {
    float: left;
}

.container__image--right {
    float: right;
}

div .text-center {
    text-align: center;
}

section p {
    font-size: 9pt;
    background-color: rgb(236, 230, 255);
    font-weight: bold;
    text-align: center;
}

#wikipedia-logo {
    width: 80%;
    margin-bottom: 20px;
    margin-top:-90px;
    margin-left: 10%;
}

.box--border-black {
    margin-right: 50px;
    padding: 6px;
    border: 1px solid grey;
    margin-top: 20px;
    width: 100%;
}

#article-logo {
    float: left;
    margin-top: 10px;
}

.wikimedia {
    float: right;
    border: black solid 1px;
    width: 250px;
    margin-top: -50px;
}

.footer {
    position: relative;
    width: 80%;
    margin-left: 15%;
}

.footer__down {
    float: left;
    word-spacing: 10px;
}