.second-hand,
.minute-hand,
.hour-hand {
    position: absolute;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;   
    left: 50%; 
}

.second-hand {
    width: 2px;
    height: 85px;
    background: gold;
    top: 130px;
    z-index: 3;
    transform-origin: center 85px; /* x-axis y-axis */
}

.minute-hand {
    width: 4px;
    height: 80px;
    background: grey;
    top: 135px;
    z-index: 2;
    transform-origin: center 80px;
}

.hour-hand {
    width: 5px;
    height: 60px;
    background: black;
    top: 155px;
    z-index: 1;
    transform-origin: center 60px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.items {
    margin-left: auto;
    margin-right: auto;         
}

#pendulum {
    animation: pendulum 2000ms infinite;
    transform-origin: center -200px;
    margin-top : -10px;
    z-index: -1;
    animation-timing-function: ease-in-out;
}

@keyframes pendulum {
    0% {
        transform: rotateZ(-8deg)
    }
    50% {
        transform: rotateZ(8deg)
    }
    100% {
        transform: rotateZ(-8deg)
    }
}